<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Here are a few representations of projects that I have completed using various technologies including Ruby on Rails, Javascript React, HTML, and CSS.</p>
    <p>
      <%= link_to 'Find Out More About Me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Dabblers Dibs', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>