<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "efficiency-sales-pro.jpeg", width: 300, alt: "profile image" %>
      </div>

      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores delectus eum facere illo maxime
          minus, molestiae natus neque nulla odit pariatur quisquam sint sunt!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur dolorem fugiat mollitia quidem quis
          quo. Accusamus, aliquid animi architecto debitis est laudantium, minima nesciunt officiis repellendus sed sit
          vitae.</p>
      </div>
    </div>
  </div>
</div>

