<h1>Pages#contact</h1>
<p><%= number_to_phone "5551234567" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "12354645798215" %></p>
