<div class="app-card-container">
  <div class="card">
    <h1>Let's Work together!</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>3171 N George Bush Fwy, Garland, TX 75040</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "5551234567" %></p>

        <h3>Email</h3>

        <p><a href="mailto:djp@example.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.211838221805!2d-96.61631398434646!3d32.94541608092143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9929ba92eec07a9a!2sBest+Buy!5e0!3m2!1sen!2sus!4v1527059110707" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
