<div class="inner cover">
  <h1 class="cover-heading home-intro">Hello, I'm <span style="color:#eece1a;">Dez</span>!</h1>
  <p class="lead home-intro">"I am passionate about what I do and always give 100%. When I work on a project or task, I don't just complete it, I go the extra mile and look to make it better than requested."</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"  %>
  </p>
</div>